<div class="row" >
    <div class="col-md-4">
        <img style="max-width: 40%;" ng-src={{students[index.in].imgsrc}} />
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">Name&emsp;&emsp;: {{students[index.in].name}}</li>
            <li class="list-group-item">Surname&emsp;: {{students[index.in].surname}}</li>
            <li class="list-group-item">Age&emsp;&emsp;&emsp;: {{students[index.in].ages}}</li>
            <li class="list-group-item">Salary&emsp;&emsp;&emsp;: {{students[index.in].salary}}</li>
        </ul>
    </div>
</div>